<div class="section">
  <h1 class="title">Edit User info</h1>
  <h3 class="subtitle">You may update your name or password here.</h3>
  <%= render 'form' do |form| %>
    <p>
      <%= form.label :password_confirmation %>
      <%= form.text_field :password_confirmation, class: "input", type: "password" %>
    </p>
  <% end %>
</div>