/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // color defns (default values)
$grey-darker: hsl(0, 0%, 21%);
$grey-dark: hsl(0, 0%, 29%);
$grey-light: hsl(0, 0%, 71%);
$grey-lighter: hsl(0, 0%, 86%);
$light: hsl(0, 0%, 96%);
$white: rgb(255, 255, 255);

// background override
$background: $grey-dark;
$body-background-color: $grey-dark;

$border: $grey-lighter;

// text color overrides
$text: $light;
$text-strong: $grey-lighter;
$text-invert: hsl(348, 100%, 61%);
$text-light: $grey-light;
$title-color: $text-strong;
$link: hsl(210, 86%, 67%);
$link-hover: $grey-light;
$link-hover-border: $grey-darker;
$link-active: $grey-lighter;
$link-active-border: $grey-light;

// card overrides
$card-background-color: $background;
$card-footer-border-top: 1px solid rgba($border, 0.1);
$card-shadow: 0 2px 3px rgba($white, 0.1), 0 0 0 1px rgba($white, 0.1);
$card-header-shadow: 0 1px 2px rgba($white, 0.1);

@import "bulma";
