
<% if auth_present? && logged_in? %>
  <div class=level>
    <div class="level-left navbar-item">Welcome, <%= link_to current_user.name, current_user %></div>
    <div class="level-right navbar-item">
      <%= link_to  "Sign out", sign_out_path, class: "button is-danger" %>
    </div>
  </div>
<% else %>
  <div class="navbar-item">
    <div class="buttons">
      <%= link_to  "Sign In", sign_in_path, class: "button is-primary" %>
      <a href="#" class="button is-dark" onclick="alert('not yet implemented!');">Request Access</a>
    </div>
  </div>
<% end %>