<div class="section">
  <h1 class="title">
    Error<%= @error_status ? " code #{@error_status}" : '!' %>
  </h1>
  <div class="content">
    <% case @error_formatting %>
    <% when :markdown %>
      <%= raw markdown @error_message %>
    <% when :html %>
      <%= raw @error_message %>
    <% else %>
      <%= @error_message %>
    <% end %>
  </div>
  <% if url = @error_previous_url %>
    <a class=button href="<% url %>">Go back?</a>
  <% end %>
</div>